<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="create.css">
</head>
<body>
    <form action="/update" method="post">
        <input type="hidden" name="index" value="<%=index%>">
        <label>Enter Title</label><br><br>
        <input type="text" name="title" class="input" value="<%= pos.title %>"><br><br>
        <label>Enter Content</label><br><br>
        <textarea name="content" class="input"><%= pos.content %></textarea><br>
        <button type="submit">UPDATE</button>
    </form>
</body>
</html>